html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid red; */
}
html {
    font-size: 62.5%;
}
body {
    line-height:1;
    font-size: 1.5rem;
    background-color: white;
    color:#4f4f4f;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    background-color: gray;
    padding:1%;
}
h1 {
    font-size: 3rem;
    margin:1% 0 0 1%;
    color:black;
    text-transform: uppercase;
}
nav {
    margin:2% 0 1% 2%;
}
nav a {
    padding: 4px 1%;
    border:1px solid black;
    text-decoration: none;
}
#top {
    display:flex;
    width:100%;
}
.left, .right {
    width:50%;
    margin: 1% 0 1% 1%;
}
.left img {
    width:96%;
}
.right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
    margin: 0 auto;
}
.right h2 {
    margin: 3% 0;
    font-size:1.8rem;
}
.right p {
    margin: 3% 0;
    font-size:1.5rem;
    line-height: 1.4;
}
/* .right a {
    border:1px solid black;
    text-align: center;
    width:30%;
    text-decoration: none;
    margin:2% 0;
    padding: 1% 2%;
} */
.right a {
    text-decoration: none;
    border:1px solid black;
    text-align: center;
    width:30%;
    text-decoration: none;
    margin:2% 0;
    padding: 2% 3%;
    background-color:white;
}
/* .right button {
    border:1px solid black;
    text-align: center;
    width:30%;
    text-decoration: none;
    margin:2% 0;
    padding: 1% 2%;
    background-color:white;
    opacity: .9;
} */
#middle {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:100%;
    margin: 0%;
}
.images div {
    width:23%;
    margin: 0 1% 1% 1%;
}
.images {
    display:flex;
    flex-wrap:wrap;
}
.images img {
    /* margin: 1% 0 1% 1%; */
    width:100%;
}
.images p {
    text-align: center;
    padding:2%;
}

.feet {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:gray;
    padding: 2%;
}
footer button {
    width:11%;
    margin-top: 2%;
    padding: 1% 2%;
    text-align: center;
}
footer h3 {
    font-size: 2rem;
    color:black;
}